@model Soccer.Web.Models.TeamViewModel

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="LogoFile" class="control-label"></label>
    <input asp-for="LogoFile" type="file" class="form-control" />
    <span asp-validation-for="LogoFile" class="text-danger"></span>
</div>
